# Node modules
node_modules
package-lock.json

# Environment files
.env
.env.local
.env.*.local
config/database.js

# Sequelize
src/migrations/
src/seeders/

# Logs
logs/
*.log

# Build files
dist/
build/
.cache/
coverage/

# OS and Editor-specific files
.DS_Store
.vscode/
